#app {
  .theme-container {
    .navbar {
      .title,
      a,
      .external-link-icon,
      #appearance-switch {
        color: black;
      }
    }

    .page.blog {
      // padding-top: 0;
      .blog-hero.fullscreen {
        // height: 100vh !important;
        .mask {
          background: url("/images/wallpaper.png") center center / cover
            no-repeat !important;
        }
        .description {
          &::after {
            content: "』";
            margin-left: 0.15rem;
          }
          &::before {
            content: "『";
            margin-right: 0.15rem;
          }
        }
      }
    }

    .footer-wrapper {
      .footer {
        margin-right: 0;
        &::after {
          content: "|";
          margin: 0 0.3rem;
        }
      }
      justify-content: center;
    }
  }
}

// 适配 gruvbox-dark 代码主题的高亮 css
html[data-theme="light"] {
  div[class*="language-"] .highlight-line {
    background: #4c4c4c;
  }
  div[class*="language-"][class*="ext-"].line-numbers-mode {
    &::after {
      border-right: 1px solid #99999955;
    }
  }
}

$border-styles: 2px solid #777;

.theme-hope-content {
  table {
    border: none;

    // 增加列分隔边框
    // td:not(td:last-of-type),
    // th:not(th:last-of-type) {
    //   border-right: $border-styles;
    // }

    thead {
      tr {
        th {
          border: none;
        }
        border-top: $border-styles;
        border-bottom: $border-styles;
      }
    }

    tbody {
      tr {
        td {
          border: none;
        }
        &:nth-of-type(even) {
          background-color: #eee;
        }
        &:last-of-type {
          border-bottom: $border-styles;
        }
      }
    }
  }

  // 让表格可以通过 center 容器实现在 html 页面居中
  .align-center,
  .align-right {
    table {
      display: inline-block;
    }
  }
}

// 有序列表样式
.theme-hope-content {
  ol {
    list-style: none;
    counter-reset: ol-li;
    li {
      &::before {
        content: counter(ol-li);
        counter-increment: ol-li;
        display: block;
        float: left;
        width: 20px;
        height: 20px;
        line-height: 1.7;
        border-radius: 50%;
        margin: 4px 8px 0 0;
        color: #fff;
        background-color: #ff61b5f2;
        font-size: 14px;
        font-weight: 300;
        font-style: normal;
        text-align: center;
        transition: all 0.5s;
      }
      &:hover::before {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
      }
    }
  }
}
